@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

@layer components {
	.testimony {
		@apply flex flex-col justify-center items-center mt-8 border border-solid border-[#919EAB1F] rounded-xl py-4 shadow-lg shadow-[#919EAB1F];
	}
}
